@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap'); */
body{
  min-height: 100vh;
  margin: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}